
.films-app-block{
    background-color:black;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;

    p{
        padding-left: 10px;
    }

    .container{
        width: 99%;
        background-color:black;
        display: flex;
       
        flex-direction: column;
       

        .filmList{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            grid-gap:5px;
            
            
        }
    }
   
}
 .search-container{
        background-color: black;
        padding: 10px;
        opacity: 0.92;
    
    }


@media (max-width: 1050px){


.films-app-block{
    background-color:black;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;

    .container{
        width: 99%;
        background-color:black;
        display: flex;
        flex-direction: column;
       

        .filmList{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            
        }
    }
}

.search-container{
    background-color: black;
    opacity: 0.92;
    padding: 10px;

}

}